*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Candara Light', Times, 'Times New Roman', serif; 
    background-color: #52796f;

   
}

header {
    padding: 50px;
    margin-bottom: 25px;
    background-color: #cad2c5;
    
}


header h1{
    display: inline-flex;
    font-weight: bold;
}

header nav{
    float: right;
}

nav{
    font-size: 25px;
    
}

nav a{
    padding-left: 20px;
    color: black;
    text-decoration: none;
}
a:hover {
    font-weight: bolder;
    padding: 5px;
}

h1 {
    font-weight: bold;
    margin-bottom: 10px;
}

section {
    margin: 25px; 
    border-radius: 35px;
    font-size: larger;
}

#AboutMe {
    padding: 25px;
    background-color: #84a98c;
    border: solid;
    border-color: #cad2c5;

}
h6{
    font-size: 20px;
}

p{
    margin-bottom: 18px;
    
}
.float-left{
    float: left;
    max-width: 175px;
    padding: 20px;
    border-radius: 100px;
    background-color: #84a98c; 
}

.MyWork {
    background-color: #84a98c;
    padding: 25px;
    border: solid;
    border-color: #cad2c5;
    
}

.projects{
    display: flex;
    flex-wrap: wrap;  
}

h4{
    text-align: left;
}


.horiseonimg:hover{
    padding: 10px;
    border: solid;
    border-color: black;
    background-color: #cad2c5;

}

.horiseonimg {
    max-height:650px;
    margin:30px, 0, 30px, 0;
    display: inline-flex;
}

/* This is where I was able to understand Sherry's code, and applied it below for my title page*/
#refactoring {
    height: 50px;
    width: 200px;
    color: black;
    border-style: solid;
    border-color: black;
    background-color: lightgrey;
    text-align: center;
    margin-bottom: 50px;
    
}

#holderid{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: black;
    background-color: lightgrey;
    text-align: center;
    text-decoration: none;
    
}

a{
    margin-left: 50px;
}

.placeholderimg{
    max-height: 200px;
    display: block;
} 

.placeholderimg:hover{
    padding: 10px;
    border: solid;
    border-color: black;
    background-color: #cad2c5;
}

#ContactMe {
    background-color: #cad2c5;
    padding: 25px;
}

@media screen and (max-width: 768px) {
    .horiseonimg {
        max-height:375px;
        margin: 30px 3px 0 0;
        padding: 10px;
        display: inline-flex;
    }
    #refactoring {
        height: 50px;
        width: 200px;
        color: black;
        border-style: solid;
        border-color: black;
        background-color: lightgrey;
        text-align: center;
        
    }
    nav a{
        display:block;
        flex-direction: column;
        color: black;
        text-decoration: none;
    }
    .placeholderimg{
        max-height: 150px;
    }
}


